html
    head
        title Serhat Yılmaz
    body
        | Pug test v1
        div(style='background-color:red;width:200px;')
            | Merhaba #{name} 
            =surname

        -var fullName = 'Serhat Yılmaz';
        |Adınız Soyadınız = #{fullName.toUpperCase()}

        br

        -var ifSayisi=10
        if !ifSayisi
            | Sayı yok
        else if ifSayisi===12
            | Sayı 12
        else
            | Sayı 12 ye eşit değil

        hr

        ul
            each val in ['serhat','tuana','gizem','pelin']
                li=val
            

        hr
        
        include footer.pug