html
    head
        title Serhat Yılmaz
    body
        | Pug test v1
        div(style='background-color:red;width:200px;')
            | Merhaba #{name} 
            =surname

        -var fullName = 'Serhat Yılmaz';
        |Adınız Soyadınız = #{fullName.toUpperCase()}

        hr
        
        include footer.pug