html
    head
        title Serhat Yılmaz
    body
        | Pug test v1
        div(style='background-color:red;width:200px;')
            | Merhaba #{name} 
            =surname

        include footer.pug